{% extends '@FOSUser/layout.html.twig' %}

{% block body %}

    {% for user in users %}
        {{ user.firstname }} {{ user.lastname }}
        <a href="{{ path('new_educator', {'id': user.id}) }}">Mianuj na wychowawcę.</a><br><br>

    {% endfor %}

{% endblock %}