{% extends '@FOSUser/layout.html.twig' %}

{% block body %}

    <div>
        {% for educator in educators %}

            <a href="{{ path('show_user_info', {'id': educator.id}) }}">{{ educator.firstname }} {{ educator.lastname }}</a><br><br>

        {% endfor %}
    </div>
{% endblock %}